<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819904747046-gjc115edj8jp0j6c4581uaic0hfgg80k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819904747046-gjc115edj8jp0j6c4581uaic0hfgg80k</string>
	<key>API_KEY</key>
	<string>AIzaSyDXSLDzFQKzqcbKHutG2JAZCuoKhWWnd10</string>
	<key>GCM_SENDER_ID</key>
	<string>819904747046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reminderapp</string>
	<key>PROJECT_ID</key>
	<string>reminderapp-bbc52</string>
	<key>STORAGE_BUCKET</key>
	<string>reminderapp-bbc52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819904747046:ios:1d939e18bdf583abc8f8e7</string>
	<key>DATABASE_URL</key>
	<string>https://reminderapp-bbc52.firebaseio.com</string>
</dict>
</plist>
